@import "../style/constants.css";


/** Variables */
.button-component.font-display {
  --button-component-base-font-size: var(--font-size-display-m);
}

/* .button-component.font-title.font-mod-medium {
  --button-component-font-size: var(--font-size-1)
} */

.button-component.font-headline {
  --button-component-base-font-size: var(--font-size-headline-m);
}

.button-component.font-title {
  --button-component-base-font-size: var(--font-size-title-m);
}

.button-component.font-body {
  --button-component-base-font-size: var(--font-size-body-m);
}

.button-component.font-label {
  --button-component-base-font-size: var(--font-size-label-m);
}

.button-component.font-mod-small {
  --button-component-font-size: calc(var(--button-component-base-font-size) / var(--font-size-step));
}

.button-component.font-mod-medium {
  --button-component-font-size: var(--button-component-base-font-size);
}

.button-component.font-mod-large {
  --button-component-font-size: calc(var(--button-component-base-font-size) * var(--font-size-step));
}

.button-component.padding-mod-large {
  --button-component-padding-size: calc(var(--button-component-font-size) * var(--font-size-step) * var(--padding-ratio));
}

.button-component.padding-mod-medium {
  --button-component-padding-size: calc(var(--button-component-font-size) * var(--padding-ratio));
}

.button-component.padding-mod-small {
  --button-component-padding-size: calc(var(--button-component-font-size) / var(--font-size-step) * var(--padding-ratio));
}

/* Universal styling */
.button-component, .button-component-link {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  line-height: 1;
  font-size: var(--button-component-font-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.button-component {
  padding-inline: var(--button-component-padding-size);
  padding-block:  calc(var(--button-component-padding-size) + (0.15 * var(--button-component-font-size)));
}

.button-component-link {
  text-decoration: none;
  color: inherit;
}

/* Universal disabled */
[class*=button-component].disabled {
  cursor: not-allowed;
}

/* Coloring */
[class*=button-component].emphasis {
  color: var(--color-background-light);
  background-color: var(--color-accent);
}
[class*=button-component].standard {
  color: var(--color-content-dark);
  background-color: var(--color-background-dark-alt);
}
[class*=button-component].alternative-standard {
  color: var(--color-content-dark);
  background-color: var(--color-background-dark);
}

/* Disabled Coloring */
[class*=button-component].emphasis.disabled {
  color: var(--color-content-low-contrast-dark);
  background-color: var(--color-content-dark);
}
[class*=button-component].standard.disabled {
  color: var(--color-content-low-contrast-dark);
  background-color: var(--color-background-dark-alt);
}
[class*=button-component].alternative-standard.disabled {
  color: var(--color-content-low-contrast-dark);
  background-color: var(--color-background-dark);
}

/* Border Styling */
[class*=button-component].rounded-edges {
  border-radius: var(--button-component-padding-size);
}

[class*=button-component].nowrap {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.button-component.with-svg-spread {
  position: relative;
}

.button-component.with-svg-spread svg {
  position: absolute;
  left: var(--button-component-padding-size);
}

.button-component.with-svg-centered svg {
  margin-inline-end: var(--button-component-padding-size);
}


