@import "../style/constants.css";

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-high-score {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  font-size: calc((var(--font-size-subscript) + var(--font-size)) / 2);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 1vw;
  margin-block-start: 1vh;
}

.home-game-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}
.home-game-buttons>div {
  margin-top: 1rem;
}

.home-game-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-game-options>div:first-child {
  margin-inline-end: 0.5rem;
}

.home-side-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-side-a,
.home-side-b {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-game-buttons-side-a,
.home-game-buttons-side-b {
  display: flex;
}
@media screen and (orientation: landscape) {
  .home-side-container {
    flex-direction: row;
  }
  .home-side-a,
  .home-side-b {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .home-game-buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .home-game-buttons-side-a,
  .home-game-buttons-side-b {
    flex-direction: row;
    width: 100%;
  }
  .home-game-buttons-side-a>div,
  .home-game-buttons-side-b>div {
    margin-inline-end: 1vw;
  }
  .home-game-buttons-side-a>div:last-child,
  .home-game-buttons-side-b>div:last-child {
    margin-inline-end: 0;
  }

  .home-game-buttons-side-b>:first-child:last-child {
    width: 100%;
  }
}

@media screen and (orientation: portrait) {
  .home-side-container {
    flex-direction: column;
  }
}
/* .home>.main-title {
  margin-top: auto;
}

.home-landscape {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.home-side-a,
.home-side-b {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

.home-buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
  width: min(40vh, 75vw);
}
