@import "../style/constants.css";

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-high-score {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  font-size: calc((var(--font-size-subscript) + var(--font-size)) / 2);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 1vw;
  margin-block-start: 1vh;
}

.home-game-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}
.home-game-buttons>div {
  margin-top: 1rem;
}


.home-side-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-side-a,
.home-side-b {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-game-buttons-side-a,
.home-game-buttons-side-b,
.home-game-options-side-a,
.home-game-options-side-b {
  display: flex;
}

.home-game-options {
  display: flex;
  flex-direction: column;
}

@media screen and (orientation: landscape) {
  .home-side-container {
    flex-direction: row;
  }
  .home-side-a,
  .home-side-b {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .home-game-buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .home-game-buttons-side-a,
  .home-game-buttons-side-b {
    flex-direction: row;
    width: 100%;
    position: relative;
  }
  .home-game-buttons-side-a>div,
  .home-game-buttons-side-b>div,
  .home-game-options-side-b>div {
    margin-inline-end: 1vw;
  }
  .home-game-buttons-side-a>div:last-child,
  .home-game-buttons-side-b>div:last-child,
  .home-game-options-side-b>div:last-child {
    margin-inline-end: 0;
  }

  .home-game-buttons-side-b>:first-child:last-child {
    width: 100%;
  }

  .home-game-options-side-a {
    display: none;
  }
  .home-game-options-side-b {
    flex-direction: row;
    height: 100%;
    overflow-x: hidden;
  }
  .home-game-options {
    margin-top: 1.5rem;
    width: 80%;
  }

  .home-additional-details {
    transition-timing-function: ease-out;
    transition: 0.25;
  }
  .home-additional-details.dimmed {
    transition-timing-function: ease-in;
    transition: 0.25;
    opacity: 40%;
    cursor: pointer;
  }

  .home-additional-details-drawer {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100vh;
    width: 50%;
    transition: 0.25s;
    transition-timing-function: ease-out;
  }
  .home-additional-details-drawer.show-drawer-inactive {
    transform: translateX(130%);
  }
  .home-additional-details-drawer.show-drawer-active {
    transition: 0.25s;
    transition-timing-function: ease-in;
    transform: translateX(0);
  }
  .home-additional-details-drawer-lexicons {
    overflow-y: scroll;
    height: 100%;
  }

}

@media screen and (orientation: portrait) {
  .home-side-container {
    flex-direction: column;
  }

  .home-game-options>div:first-child {
    margin-inline-end: 0.5rem;
  }
  .home-game-options {
    flex-direction: row;
    justify-content: space-between;
  }
  .home-side-b {
    display: none;
  }
}
/* .home>.main-title {
  margin-top: auto;
}

.home-landscape {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.home-side-a,
.home-side-b {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

.home-buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
  width: min(40vh, 75vw);
}
