@import "../style/constants.css";

[class*=banner] {
  --banner-padding: calc(var(--padding-ratio) * var(--font-size-line-s));
  --banner-button-padding: calc(var(--padding-ratio) * var(--font-size-body-m));
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-accent);
  width: 100%;
  height: fit-content;
  color: var(--color-background-dark);
  border-bottom: 1px solid var(--color-background-dark);
  padding-block: var(--banner-padding);
  
}

.banner-button-area {
  background-color: var(--color-background-dark);
  border-radius: 50%;
  width: var(--font-size-title);
  height: var(--font-size-title);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .75vh;
  margin-right: 1vh;
  cursor: pointer;
  padding: var(--banner-button-padding)
}

.banner-page-title {
  padding-right: .5vh;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-m);
  text-transform: capitalize;
  line-height: 1;
}

.banner-rendered-prop {
  height: calc((2 * var(--banner-button-padding)) + (--font-size-title-m));
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: .75vh;
}
.banner-rendered-prop-badge.show-prompt {
  border-radius: var(--banner-button-padding);
}

.banner-rendered-prop-badge.hide-prompt {
  border-radius: 50%;
}


.banner-rendered-prop-badge {
  display: flex;
  flex-direction: row;
  background-color: var(--color-background-dark);
  padding: var(--banner-button-padding);
  color: var(--color-content-dark);
  align-items: center;
  box-sizing: border-box;
  min-height: 0;
}

.banner-rendered-prop-badge-clickable {
  cursor: pointer;
}

.banner-rendered-prop-badge.banner-rendered-prop-badge-disabled {
  cursor: not-allowed;
  color: var(--color-content-low-contrast-dark)
}

.banner-rendered-prop-container {
  display: flex;
  min-height: 0;
  height: inherit;
  padding-inline-start: 0.75vw;
  padding-inline-end: 0.75vw;
  box-sizing: border-box;
}

.banner-rendered-prop-label {
  margin-inline-start: 0.5vw;
  line-height: var(--font-size);
}
