
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main-title-letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: landscape) {
  [class*=main-title] {
    --main-title-font-size: var(--font-size-headline-s);
  }
}

@media screen and (orientation: portrait) {
  [class*=main-title] {
    --main-title-font-size: var(--font-size-title-m);
  }
}

.main-title-letter-container {
  box-sizing: border-box;
  display: flex;
  --main-title-block-size: calc(var(--main-title-font-size) * 1.7);
  justify-content: center;
  width: var(--main-title-block-size);
  height: var(--main-title-block-size);
  background-color: var(--color-accent);
  margin: calc(var(--main-title-block-size) * 0.1);
  font-size: var(--main-title-font-size);
  line-height: 1;
}

.main-title-letter {
  margin-block: auto;
  color: var(--color-background-dark);
  display: flex;
  font-weight: var(--font-weight-bold);
}
